version: '3.8'

networks:
  gv-network:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data:

services:
  postgres:
    container_name: gestao_vagas_postgres
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=gestao_vagas
  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    volumes:
      - ./config:/etc/prometheus
      - prometheus_data:/prometheus
    networks:
      - gv-network
    ports:
        - 9090:9090
  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    networks:
      - gv-network
    ports:
      - 3000:3000